* {
    padding: 0px;
    margin: 0px;

    box-sizing: border-box;
}

:root {
    --text-color: white;
    --bg-url: url(assets/bg-mobile.jpg);
    --stroke-color: rgba(255, 255, 255, 0.5);
    --surface-color: rgba(255, 255, 255, 0.1);
    --surface-color-hover: rgba(0, 0, 0, 0.05);
    --switch-bg-url: url(assets/MoonStars.svg);
}

.light {
    --text-color: black;
    --bg-url: url(assets/bg-mobile-light.jpg);
    --stroke-color: rgba(0, 0, 0, 0.5);
    --surface-color: rgba(0, 0, 0, 0.02);
    --surface-color-hover: rgba(0, 0, 0, 0.2);
    --switch-bg-url: url(assets/Sun.svg);
}

body *  {
    font-family: "Inter", sans-serif;
    color: var(--text-color);
}

body {
    height: 100vh;

    background-image: var(--bg-url);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

main {
    width: 100%;
    max-width: 600px;

    margin: 56px auto 0px;
}

#profile{
    padding: 24px 0px 10px;

    text-align: center;
}

#profile img{
    border: 3px solid var(--stroke-color);
    border-radius: 70px 70px;
}

#profile .name {
    font-size: 32px;
    font-weight: 500;

    margin-top: 10px;
}

#mail {
    font-size: 12px;
    font-weight: 400;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 1px;
}

#mail a {
    text-decoration: none;
    border-bottom: 1px solid var(--stroke-color);

    transition: border-color 0.3s linear; 
}

#mail a:hover {
    border-color: var(--stroke-color);
}

#mail:hover ion-icon {
    color: var(--stroke-color);

    transition: color 0.3s linear;
}

#mail:hover .contact {
    color: var(--stroke-color);

    transition: color 0.3s linear;
}

#switch {
    position: relative;
    width: 64px;
    margin: 30px auto 0px auto;
}

#switch button {
    width: 32px;
    height: 32px;

    background: white;
    background-image: var(--switch-bg-url);
    background-repeat: no-repeat;
    background-position: center;

    border: 0px;
    border-radius: 50%;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);

    animation: slide-out 0.3s;
}

.light #switch button {
    animation: slide-in 0.3s forwards;
}

#switch button:hover {
    outline: 8px solid var(--highlight-color);
}

#switch span {
    display: block;

    width: 64px;
    height: 24px;

    background: var(--surface-color);

    border: 1px solid var(--stroke-color);
    border-radius: 9999px;

    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

#links {
    padding: 18px;

    text-align: center;
}

#links ul {
    list-style-type: none;
}

#links a {
    padding: 20px 40px;
    border-radius: 20px;
    border: 1px solid var(--stroke-color);

    background-color: var(--surface-color);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);

    color: var(--text-color);
    font-weight: 400;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 20px auto;

    transition: background 0.3s  border 0.2s;
}

#links a:hover {
    background-color: var(--surface-color-hover);
    border: 1px solid var(--stroke-color);
}

.icon {
    padding: 0px 5px;

    font-size: 20px;
}

footer {
    padding: 24px;

    text-align: center;

    font-size: 12px;
    font-weight: 400;
}

@media (min-width: 700px) {
    :root {
        --bg-url: url(assets/bg-desktop.jpg);
    }

    .light {
        --bg-url: url(assets/bg-desktop-light.jpg);
    }
}

@keyframes slide-in {
    from {
        left: 0;
    }

    to {
        left: 50%;
    }
}

@keyframes slide-out {
    from {
        left: 50%;
    }

    to {
        left: 0;
    }
}